* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  background-color: #f3f2f8;
}

/* FormControl styling from material-ui  */
.menuItem { 
  background-color: white !important; 
}

.app__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  width: 100%;
  display: flex;
}

.app__left {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding: 1rem;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  min-width: 25vw;
  margin: 1rem 1rem;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

/* TABLE COMPONENT */

.table {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.popup__table {
  text-align: end;
}


.popup__table td {
  padding: 10px;
}

.tr__key {
  text-align: start;
}

.popup__table tr:nth-of-type(even) {
  background-color: #f3f2f8;
}